/* line 32, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 33, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 34, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 35, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 47, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 49, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* line 51, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 61, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 62, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 70, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a {
  color: #0000ee;
}

/* line 71, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 72, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #0066ee;
}

/* line 73, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 76, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 84, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 86, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 88, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 90, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 92, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 94, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 96, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 99, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 102, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 104, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 105, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 107, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 85%;
}

/* line 110, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 111, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 112, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 120, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 121, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 122, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 133, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 137, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 145, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 153, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 154, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 157, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 162, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 168, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 172, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 178, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 182, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 183, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 184, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 188, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 193, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 197, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 205, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 206, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: #222222;
}

/* line 7, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 24, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 43, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 53, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 54, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../lib/ruby/gems/1.9.1/gems/compass-h5bp-0.0.2/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
